* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatchContainer {
  border: 5px dotted green;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
